*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  background: url(./assets/img/hero.gif)no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: translateY(-fade);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#navbar {
    background-color: white;
    padding: 10px;
    height: 5%;
}
.nav-link{
    color: #0c3434;
}
.nav-link:hover{
    color: #f3f3d4;
    background-color: #0c3434;
}
.nav-item{
    margin-top: 0px ;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;

}
.nav-item:hover{
    color: #f3f3d4;
    background-color: #0c3434;
}
.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}



/* main */ 
.main{
    background: url(./assets/img/hero.gif)no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main h2{
    font-size: 4.4rem;
    font-weight: 500;
    color: white;
    text-shadow: 1px 0px 1px  #0c3434, 0px 1px 1px #647334, 2px 1px 1px  #0c3434, 1px 2px 1px #647334, 3px 2px 1px  #647334, 2px 3px 1px #647334, 4px 3px 1px #0c3434, 3px 4px 1px #647334, 5px 4px 1px  #0c3434, 4px 5px 1px #647334, 6px 5px 1px  #0c3434, 5px 6px 1px #647334, 7px 6px 1px  #0c3434;


}
.main h6{
  font-size: 25px;
  font-weight: bold;
  color: #0c3434;
  text-shadow: 1px 0px 1px  white, 0px 1px 1px #e3ce93, 2px 1px 1px  white, 1px 2px 1px #e3ce93, 3px 2px 1px  #e3ce93, 2px 3px 1px #e3ce93, 4px 3px 1px white, 3px 4px 1px #e3ce93, 5px 4px 1px  white, 4px 5px 1px #e3ce93, 6px 5px 1px  white, 5px 6px 1px #e3ce93, 7px 6px 1px  white;

}
.main .glitch{
  color: white;
  text-shadow: 1px 0px 1px  #0c3434, 0px 1px 1px #647334, 2px 1px 1px  #0c3434, 1px 2px 1px #647334, 3px 2px 1px  #647334, 2px 3px 1px #647334, 4px 3px 1px #0c3434, 3px 4px 1px #647334, 5px 4px 1px  #0c3434, 4px 5px 1px #647334, 6px 5px 1px  #0c3434, 5px 6px 1px #647334, 7px 6px 1px  #0c3434;
  font-size: 90px;
  letter-spacing: 1px;
  animation: glitch 1s linear infinite
}
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg)
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg)
    }
    62%{
      transform: translate(0,0) skew(5deg)
    }
  }
  .glitch:before, div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
 .glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%)
  }
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px)
    }
    4%,60%{
      transform: translate(-2px,2px)
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg)
    }
  }
  .glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%)
  }
  @keyframes glitchBotom{
    2%,64%{transform: translate(-2px,0)
    }
    4%,60%{transform: translate(-2px,0)
    }
    62%{transform: translate(-22px,5px) skew(21deg)
    }
  }
  .white-mode{
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: #FFF;
    transition: .35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
  .white-mode:hover{
    background-color: rgb(133, 116, 116);
    color: #122
  }




/* main end */ 

/* about  */

#about-me img {
    border-right: 4px solid #0c3434;
    border-bottom: 4px solid #0c3434;
    border-radius: 3px;
    height: 100%;
  }

#about-me .btn {
    color: white;
    background-color: #0c3434;
    border-radius: 15px;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

#about-me .btn:hover{
  background-color:#b4b783;
  color: #000;
  transition: 0.5s;
}
  
.spliter {
    width: 100%;
    height: 3px;
    border: none;
    background-color: #0c3434;
  }
#about-me p {
    font-size: 19px;
    color: white;
    
  }
#about-me .btn-secondary {
    font-size: 17px;
    font-weight: 550;
  }
  
  .resume-cont {
    box-shadow: 0 0 5px #888;
  }
  

  /* about end  */ 

  /* skills start */ 
  
#skills .card-body {
    display: inline-block;
    margin-left: 20px;
    color: white;
      
  }
#skills .card-body:hover{
    border: solid 1px #647334;
    border-radius: 5px;
    font-size: 20px;
    color: #647334;
    margin: 0;
    box-shadow: 10px 10px 10px 0px lightgray;
    background-color: white;
  }

  #skills .card {
    box-shadow: 0 0 8px #888888;
    background-color: #33473e;
    width: 100%;
  }

.text-muted{
    padding-left: 15px;
    padding-right: 15px;
}
.progress-bar {
    background-color: #0c3434;

}
.progress .progress-bar {
    animation-duration: 2s, 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1), linear;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    animation-name: animateBar, progress-bar-stripes;
}
 




/* skills end */ 

/* blog starts */ 


#blog p{
  color: #b4b783;
}

#blog{
  text-align: center;
}
#blog .container{
  padding-top: 50px; 
  padding-bottom: 100px;
}
#blog a{
  text-decoration: none;
  outline: none;
}
#blog .card-flyer {
  border-radius: 5px;
}
#blog .card-flyer .image-box{
 
  overflow: hidden;
  border-radius: 5px;
}
#blog .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 100%;
}
#blog .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#blog .card-flyer .text-box{
  text-align: center;
  justify-content: center;
}
#blog .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#blog .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#blog .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  border: solid 1px #647334;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#blog .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#blog .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #b4b783;
}



/* blog ends */
  /* contact */ 

#contact {
  width: 100%;
  height: 100%;
  color: black;
  padding-bottom: 100px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  color: black;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 372px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

#contact .send-button {
  margin-top: 15px;
  height: 34px;
  width: 374px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background-color: #0c3434;
}

#contact .alt-send-button {
  width: 345px;
  height: 34px;
  transition: all .2s ease-in-out;
  background-color: #0c3434;
}

#contact .send-text {
  display: block;
  margin-top: 10px;
  letter-spacing: 2px;
}

#contact .alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
  background-color: #0c3434;
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: 17px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
  display: inline-block ;
}

.contact-text {
  font-size: 18px;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 3s0px;
}

.phone {
  margin-left: 30px;
}

.gmail {
  margin-left: 30px;
}

.contact-text a {
  color: #ccc;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: black;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: #0c3434;
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #0c3434;
}

.copyright {
  color: #0c3434;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}


@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
    display: inline-block;
    justify-content: space-between;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 420px) {
  .send-button {
    width: 99%;
  }
}



  
  
  
  


/* footer */ 

.footer{
  background:#0c3434;
  padding:30px 0px;
  text-align:center;
  }
  .footer p {
    color: white;
  }
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }